<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>KANBAN</title>
</head>

<body>
  <div id="app">
    <!-- ALERTS -->
    <div class="alert alert-primary" role="alert" v-if="alertOn">
      {{alertMsg}}
    </div>

    <!-- ALREADY LOGIN -->
    <div v-if="isLogin">
      <!-- HEADER & LOGOUT -->
      <div class="header container-fluid">
        <div class=" nav row d-flex justify-content-between">
          <div>
            <img class="m-1" src="assets/kanban.png" width="150px">
          </div>
          <div id="logout">
            <button class="btn" @click="logout">logout</button>
          </div>
        </div>
      </div>

      <!-- TIME AND INFOS -->
      <div class=" d-flex justify-content-center">
        <div class=" infos container row">
          <div class="col row d-flex align-items-center">
            <div class="col-1 d-flex justify-content-end"><i class="fas fa-user"></i></div>
            <div class="col"><b>{{name}}</b></div>
            <div class="col-1 d-flex justify-content-end"><i class="fas fa-bezier-curve"></i></div>
            <div class="col"><b>{{organization}}</b></div>
          </div>
          <div class="col row d-flex align-items-center">
            <div class="col-1 d-flex justify-content-end"><i class="fas fa-clock"></i></div>
            <div class="col"><b>{{getTime}}</b></div>
            <div class="col-1 d-flex justify-content-end"><i class="fas fa-calendar-day"></i></div>
            <div class="col"><b>{{getDate}}</b></div>
          </div>
        </div>
      </div>

      <!-- KANBAN BODY -->
      <div class="addButton container-md">
        <a href="#"><i class="fas fa-plus-square"></i> POST KANBAN!</a>
      </div>
      <div class="d-flex justify-content-center">
        <div class="appbody row container-fluid " id="kanbanBody">

          <!-- BACKLOG -->
          <div class="backlog container col-sm-5 col-md-5 col-lg-4 col-xl">
            <div class="d-flex justify-content-center">
              <div>BACKLOG</div>
            </div>
            <div class="bodyContent" id="backlogContent">
              <div class="content container-lg-12" v-for=" task in backlogTasks">
                <div class="user container-fluid d-flex justify-content-between">
                  {{task.user}}
                  <div>
                    <a href="#" @click="getTask(task.id)"><i class="fas fa-pen-square"></i></a>
                    <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
                <div class="container-fluid">{{task.content}}</div>
                <div class="container-fluid d-flex justify-content-end">
                  <a href="#"><i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- PRODUCT -->
          <div class="product container col-sm-5 col-md-5 col-lg-4 col-xl">
            <div class="d-flex justify-content-center">
              PRODUCT
            </div>
            <div class="bodyContent" id="productContent">
              <div class="content container-lg-12" v-for=" task in productTasks">
                <div class="user container-fluid d-flex justify-content-between">
                  {{task.user}}
                  <div>
                    <a href="#" @click="getTask(task.id)"><i class="fas fa-pen-square"></i></a>
                    <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
                <div class="container-fluid">contents</div>
                <div class="container-fluid d-flex justify-content-between">
                  <a href="#"><i class="fas fa-arrow-circle-left"></i></a>
                  <a href="#"><i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- DEVELOPMENT -->
          <div class="development container col-sm-5 col-md-5 col-lg-4 col-xl">
            <div class="d-flex justify-content-center">
              DEVELOPMENT
            </div>
            <div class="bodyContent" id="developmentContent">
              <div class="content container-lg-12" v-for="task in developmentTasks">
                <div class="user container-fluid d-flex justify-content-between">
                  {{task.user}}
                  <div>
                    <a href="#" @click="getTask(task.id)"><i class="fas fa-pen-square"></i></a>
                    <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
                <div class="container-fluid">{{task.content}}</div>
                <div class="container-fluid d-flex justify-content-between">
                  <a href="#"><i class="fas fa-arrow-circle-left"></i></a>
                  <a href="#"><i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- DONE -->
          <div class="done container col-sm-5 col-md-5 col-lg-4 col-xl">
            <div class="d-flex justify-content-center">
              DONE
            </div>
            <div class="bodyContent" id="doneContent">
              <div class="content container-lg-12" v-for="task in doneTasks">
                <div class="user container-fluid d-flex justify-content-between">
                  {{task.user}}
                  <div>
                    <a href="#" @click="deleteTask(task.id)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
                <div class="container-fluid">{{task.content}}</div>
                <div class="container-fluid d-flex justify-content-end">
                  <a href="#"><i class="fas fa-check-circle"></i></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><br>
    </div>

    <!-- NOT LOGIN -->
    <div class="mt-5" v-if="!isLogin">
      <!-- WELCOME -->
      <div class="welcome container m-5" v-show="position === 'welcome' ">
        <div class="d-flex justify-content-between">
          <div class="container-sm">
            <img src="assets/home.svg" alt="WELCOME" width="800px">
          </div>
          <div class="container col m-3 p-1">
            <div class="container-fluid col mt-5">
              <div class="kanban welcomeButton h-50 w-75">
                <a @click="showWelcome">KANBAN!</a>
              </div>
            </div>
            <div class="container col">
              <div class="welcomeButton homelogin">
                <a class="" @click="showLogin">LOGIN</a>
              </div>
            </div>
            <div class="container col">
              <div class="welcomeButton homeregister">
                <a class="" @click="showRegister">REGISTER</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- REGISTER -->
      <div v-show="position === 'register' ">
        <div class="container d-flex justify-content-center mt-5">
          <div class="container-fluid">
            <div class="col-sm d-flex flex-column">
              <h3 class="d-flex justify-content-center">register</h3>
            </div>
            <div class="register container d-flex justify-content-center">
              <div class="col-lg">

                <div>
                  <form class="form-group" id="registerForm" @submit.prevent="register"><br>
                    <div>
                      <label for="registerName">name</label>
                      <input class="form-control" type="text" placeholder="your name?" v-model="registerName" required>
                      <br>
                    </div>
                    <div>
                      <label for="registerEmail">email</label>
                      <input class="form-control" type="email" placeholder="your email?" v-model="registerEmail"
                        required>
                      <br>
                    </div>
                    <div>
                      <label for="registerOrganization">your organization</label>
                      <select class="form-control" v-model="registerOrganization">
                        <option value="" disabled selected>your oranization?</option>
                        <option value="Hacktiv8 Instructor">Hacktiv8 Instructor</option>
                        <option value="Hacktiv8 Student">Hacktiv8 Student</option>
                        <option value="Hacktiv8 Developer">Hacktiv8 Developer</option>
                      </select>
                      <br>
                    </div>
                    <div>
                      <label for="registerPassword">Password</label>
                      <input class="form-control" type="password" placeholder="your super secret password"
                        v-model="registerPassword" required>
                      <br>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-warning">Submit</button>
                      <button @click="showWelcome" class="btn btn-warning">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LOGIN -->
      <div v-show="position === 'login' ">
        <div class="container d-flex justify-content-center mt-5" id="loginBody">
          <div class="container-fluid">
            <div class="col-sm d-flex flex-column">
              <h3 class="d-flex justify-content-center">login</h3>
            </div>
            <div class="register container d-flex justify-content-center">
              <div class="col-lg">
                <div>
                  <form class="form-group" id="loginForm" @submit.prevent="login"><br>
                    <div>
                      <label for="loginEmail">Email</label>
                      <input class="form-control" type="email" placeholder="your email?" v-model="loginEmail" required>
                      <br>
                    </div>
                    <div>
                      <label for="loginPassword">Password</label>
                      <input class="form-control" type="password" placeholder="your super secret password"
                        v-model="loginPassword" required>
                      <br>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-warning">Submit</button>
                      <button @click="showWelcome" class="btn btn-warning">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script> -->
  <script src="https://kit.fontawesome.com/d327c23d67.js" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>

</html>